@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');
.heading{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    .highlight-first{
        font-weight: 600;
    }
}