@import "../Font/globalfont.scss";
@tailwind base;
@tailwind components;

:root {
  --primary-color: rgb(160, 1, 1);
  --secondary-color: #000;
  --warnig-color: rgb(211, 20, 20);
  --theme-font: "Raleway", "sans-serif";

  // NEST THEME STYLE

  --nest-theme-font: "Raleway", "sans-serif";
  --nest-theme-title-color: #20c997;
  --nest-theme-price-color: #212529;
  --nest-theme-mrp-color: #212529;
  --nest-theme-border-color: #20c997;
  --nest-theme-button-title-color: rgb(209, 14, 14);
  --nest-theme-button-bg-title-color: rgb(209, 14, 14);
  --nest-theme-button-bg-color: rgb(209, 14, 14);
  --nest-theme-button-default-bg-color: rgb(209, 14, 14);
  --nest-theme-default-price-color: rgb(209, 14, 14);
  --nest-theme-default-title-color: rgb(209, 14, 14);
  --nest-theme-cart-title-color: rgb(209, 14, 14);
  --nest-theme-cart-bg-color: rgb(209, 14, 14);
  --nest-theme-category-color: rgb(209, 14, 14);
  --nest-theme-ordersby-color: rgb(209, 14, 14);
  --nest-theme-tableheading-title-color: rgb(209, 14, 14);
  --nest-theme-shipping-title-color: rgb(209, 14, 14);
  --nest-theme-checkout-bg-button-color: rgb(209, 14, 14);
  --nest-theme-qty-bg-button-color: rgb(209, 14, 14);
  --nest-theme-qty-border-button-color: rgb(209, 14, 14);

  // MINIMOG THEME STYLE

  --minimog-theme-font: "Jost", "sans-serif";
  --minimog-theme-title-color: #20c997;
  --minimog-theme-delete-button-color: #20c997;
  --minimog-theme-table-heading-title-color: #20c997;
  --minimog-theme-title-hover-color: #20c997;
  --minimog-theme-price-color: #212529;
  --minimog-theme-mrp-color: #212529;
  --minimog-theme-border-color: #20c997;
  --minimog-theme-button-title-color: rgb(209, 14, 14);
  --minimog-theme-button-bg-title-color: rgb(209, 14, 14);
  --minimog-theme-button-bg-color: rgb(209, 14, 14);
  --minimog-theme-button-qty-text-color: rgb(209, 14, 14);
  --minimog-theme-default-price-color: rgb(209, 14, 14);
  --minimog-theme-default-title-color: rgb(209, 14, 14);
  --minimog-theme-default-bg-color: rgb(209, 14, 14);
  --minimog-theme-default-bg-hover-color: rgb(209, 14, 14);
  --minimog-theme-prgressbaractive-bg-color: black;
  --minimog-theme-cartbutton-bg-color: black;
  --minimog-theme-cartbutton-title-color: black;
  --minimog-theme-wishlist-bg-color: black;
  --minimog-theme-wishlist-bg-hover-color: black;
  --minimog-theme-wishlist-bg-hover-color: black;
  --minimog-theme-checkoutbtn-bg-color: black;

  //LEO THEME STYLE
  --leo-theme-font: "Raleway", "sans-serif";
  --leo-theme-title-color: #20c997;
  --leo-theme-heading-cart-color: #20c997;
  --leo-theme-price-color: #212529;
  --leo-theme-price-default-color: #212529;
  --leo-theme-default-shipetc-color: #212529;
  --leo-theme-size-title: #212529;
  --leo-theme-size-default-title: #212529;
  --leo-theme-border-color: #20c997;
  --leo-theme-button-title-color: rgb(209, 14, 14);
  --leo-theme-button-bg-title-color: rgb(209, 14, 14);
  --leo-theme-button-bg-color: rgb(209, 14, 14);
  --leo-theme-button-qty-text-color: rgb(209, 14, 14);
  --leo-theme-default-price-color: rgb(209, 14, 14);
  --leo-theme-default-title-color: rgb(209, 14, 14);
  --leo-theme-default-bg-color: rgb(209, 14, 14);
  --leo-theme-prgressbaractive-bg-color: black;
  --leo-theme-cartbutton-bg-color: black;
  --leo-theme-wishlist-bg-color: black;
  --leo-theme-wishlist-bg-hover-color: black;
  --leo-theme-wishlist-bg-hover-color: black;
  --leo-theme-checkoutbtn-bg-color: black;
  --leo-theme-qty-bg-color: black;
  --leo-theme-qty-title-color: black;

  //LAFAKA THEME STYLE
  --lafaka-theme-font: "Rubik", "sans-serif";
  --lafaka-theme-title-color: #20c997;
  --lafaka-theme-price-color: #212529;
  --lafaka-theme-price-bg-color: #212529;
  --lafaka-theme-border-color: #20c997;
  --lafaka-theme-review-color: #20c997;

  --lafaka-theme-button-title-color: rgb(209, 14, 14);
  --lafaka-theme-button-bg-title-color: rgb(209, 14, 14);
  --lafaka-theme-button-bg-color: rgb(209, 14, 14);
  --lafaka-theme-button-qty-text-color: rgb(209, 14, 14);
  --lafaka-theme-default-price-color: rgb(209, 14, 14);
  --lafaka-theme-default-title-color: rgb(209, 14, 14);
  --lafaka-theme-default-bg-color: rgb(209, 14, 14);
  --lafaka-theme-prgressbaractive-bg-color: black;
  --lafaka-theme-checkoutbtn-bg-color: black;
  --lafaka-theme-cartbutton-bg-color: black;
  --lafaka-theme-cartbutton-title-color: black;
  --lafaka-theme-icon-color: black;
  --lafaka-theme-edit-icon-color: black;
  --lafaka-theme-edit-icon-bg-color: black;
  --lafaka-theme-wishlist-icon-bg-color: black;
  --lafaka-theme-description-color: black;

  //ELECTROX THEME STYLE
  --electrox-theme-font: "Inter", "sans-serif";
  --electrox-theme-title-color: #20c997;
  --electrox-theme-category-color: #20c997;
  --electrox-theme-price-color: #212529;
  --electrox-theme-border-color: #20c997;
  --electrox-theme-button-title-color: rgb(209, 14, 14);
  --electrox-theme-button-bg-title-color: rgb(209, 14, 14);
  --electrox-theme-button-bg-color: rgb(209, 14, 14);
  --electrox-theme-button-qty-text-color: black;
  --electrox-theme-default-price-color: rgb(209, 14, 14);
  --electrox-theme-mrp-color: red;
  --electrox-theme-default-title-color: rgb(209, 14, 14);
  --electrox-theme-default-bg-color: rgb(209, 14, 14);
  --electrox-theme-prgressbaractive-bg-color: black;
  --electrox-theme-cartbutton-bg-color: black;
  --electrox-theme-checkoutbtn-bg-color: black;
  --electrox-theme-checkoutbtn-title-color: white;
  --electrox-theme-icon-color: black;
  --electrox-theme-edit-icon-color: black;
  --electrox-theme-edit-icon-bg-color: black;
  --electrox-theme-cart-title-color: black;
  --electrox-theme-totla-price-color: black;
  --electrox-theme-headerdefault-bg-color: red;
  --electrox-theme-wishlist-text-color: red;
  --electrox-theme-offer-text-color: black;
  --electrox-theme-offer-bg-color: yellow;
  --electrox-theme-table-header-title-color: black;
  --electrox-theme-clear-bg-color: black;

  //COSMETICA THEME STYLE
  --cosmetica-theme-font: "Montserrat", "sans-serif";
  --cosmetica-theme-title-color: #20c997;
  --cosmetica-theme-table-title-color: #20c997;
  --cosmetica-theme-price-color: #212529;
  --cosmetica-theme-border-color: #20c997;
  --cosmetica-theme-button-title-color: rgb(209, 14, 14);
  --cosmetica-theme-button-bg-title-color: rgb(209, 14, 14);
  --cosmetica-theme-button-bg-color: rgb(209, 14, 14);
  --cosmetica-theme-button-qty-text-color: rgb(209, 14, 14);
  --cosmetica-theme-default-price-color: rgb(209, 14, 14);
  --cosmetica-theme-default-title-color: rgb(209, 14, 14);
  --cosmetica-theme-default-bg-color: rgb(209, 14, 14);
  --cosmetica-theme-prgressbaractive-bg-color: black;
  --cosmetica-theme-cartbutton-bg-color: black;
  --cosmetica-theme-checkoutbtn-bg-color: black;
  --cosmetica-theme-icon-color: black;
  --cosmetica-theme-edit-icon-color: black;
  --cosmetica-theme-edit-icon-bg-color: black;
  --cosmetica-theme-cart-title-color: black;
  --cosmetica-theme-cart-bg-color: black;
  --cosmetica-theme-totla-price-color: black;
  --cosmetica-theme-headerdefault-bg-color: red;
  --cosmetica-theme-cart-border-color: red;
  --cosmetica-theme-mrp-color: red;
  --cosmetica-theme-icon-fover-color: red;
  --cosmetica-theme-icon-hover-title-color: red;
  --cosmetica-theme-icon-bg-title-color: red;
}
@tailwind utilities;
